.info {
    margin: 20px;
    text-align: center;
    padding: 30px;
    font-size: 2.5vw;
    line-height: 4vw;
    filter: brightness(100%);
    font-family: sans-serif;
    background-color:plum;
    border-radius: 10vw;

}
#title {
    text-transform: capitalize;
    color: slategrey;
    font-size: 7vw;
    
    text-align: center;
    font-family: 
    Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.girl {
    color: rgb(170, 30, 170);
}
.neutral {
    color: ivory;
}
.boy {
    color: lightblue;
}
.box {
    background: 3rem, lavender;
}
body {
    background-image: url('./images/LakeMitch.jpg');
    width: 100%;
    align-self: center;
    /*filter: brightness(50%);*/
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed
    
}
button {
    border-radius: 5rem;
    background-color: rgb(62, 62, 129);
    text-transform: uppercase;
    text-align: center;
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}
a {
    color: whitesmoke;
}